.OrderTest{
    .display-flex {
        display: flex;
    }
        .order-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    .card-order-left{
        height: unset;
    }
}

