.dictionary {
  .ant-list-pagination {
    padding-top: 1rem;
  }

  .dictionary-details {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
