.disabled-row {
  opacity: 0.5;
  pointer-events: none;
}



.signs-and-allergy-container {
  display: flex;
  gap: 8px;
  height: 100%;
  overflow: auto;
}

.schedule {
  display: flex;
  margin-top: 8px;
  gap: 0.5rem;
  height: calc(100vh - 39px);

  &__calendar {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .calendar-container {
      display: flex;
      gap: 8px;
      // max-height: 240px;
      max-height: 270px;
      margin-bottom: 0.5rem;

      .calendar-custom {
        flex-basis: 50%;
      }

      .signs-and-allergy {
        flex-basis: 50%;
        overflow: auto;

        &-item {
          font-size: 12px;

          &-title {
            font-weight: 600;
          }
        }
      }
    }

    .signs-and-allergy-container {
      display: flex;
      gap: 8px;
      height: 100%;
    }

    .calendar-patient {
      flex: 1;
      height: calc(100% - 248px);
    }
  }

  &__detail {
    flex: 65%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;

    // Card - Thông tin bênh nhân
    .patient-information {
      width: 100%;
      height: fit-content;

      &-row {
        height: 100%;
        overflow: auto;
      }

      .patient-information-content {
        display: flex;
        justify-content: space-between;

        &-avatar {
          flex-basis: 10%;

          .ant-image-mask {
            border-radius: 50%;
          }
        }

        &-info {
          flex-basis: 90%;

          .ant-row {
            .btn-intro-dr,
            .btn-document-picture {
              display: flex;
              align-items: center;
              span:last-child {
                flex: 1;
              }
            }
          }
          .info-group {
            display: flex;
            margin-left: 1rem;

            &-title {
              flex-basis: 50%;
              font-weight: 500;

              &-address {
                font-weight: 500;
                flex-basis: 20%;
              }
            }

            &-content {
              flex-basis: 50%;

              &-address {
                flex-basis: 80%;
              }
            }
          }
        }
      }

      .ant-card {
        height: 100%;

        &-head {
          min-height: 27px;
          font-weight: unset;
          font-size: 14px;
          padding: 0px 16px;

          &-title {
            padding: 2px;
          }
        }

        &-body {
          padding: 8px;
        }
      }
    }

    .schedule__detail_group {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: calc(80% - 8px);

      .ant-list-item {
        padding: 0px 16px !important;
      }

      .list-sub-clinic{
        .ant-spin-nested-loading{
          height: calc(100% - 27px);
        }
      }

      .ant-row {
        flex: 1;
        height: calc(50% - 4px);

        .ant-col {
          height: 100%;
        }
      }
    }
  }

  // Css cho tất các các List trong Schedule
  .ant-list-header {
    max-height: 27px;
    height: 27px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ant-list {
    height: 100%;

    .ant-spin-nested-loading {
      height: calc(100% - 51.5px);

      .ant-spin-container {
        height: 100%;

        .ant-list-items {
          height: 100%;
          overflow: auto;
        }
      }
    }
  }

  .ant-list-footer{
      padding: 0px 16px !important;
  }

  // Css List cho 2 khối
  .calendar-patient,
  &__detail {
    .ant-list-item {
      cursor: pointer;

      &:hover {
        background: #f0f2f5;
      }
      &.active {
        background: #f0f2f5;
      }

      &-meta-title {
        margin-bottom: 0;

        .patient-booking-name {
          display: flex;
          justify-content: space-between;

          &-img {
            width: 30px;
            height: 30px;

            img {
              width: 100%;
            }
          }
        }
      }

      &-meta-description {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);

        .patient-booking-detail {
          display: flex;
          justify-content: space-between;

          &-info {
            flex-basis: 85%;

            .patient-booking-detail-info-text {
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}
