.prescription {
  // Form add prescription
  &-add {
    &-select {
      .ant-card-body {
        padding-top: 8px;
        //     padding-bottom: 0;
        //     padding-left: 0;
      }

      .ant-form-item {
        margin-bottom: 8px;
        // margin: 0 0 8px !important;
      }

      .amount-medicine {
        &-content {
          display: flex;
          .ant-form-item {
            margin-right: 0.3rem;
            .ant-input-number {
              width: 100%;
            }
          }
        }
      }

      .total {
        display: flex;
        // padding: 10px;
        .total-title {
          flex-basis: 45%;
        }
        .total-price {
          flex-basis: 55%;
        }
      }

      .sub-total {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.ant-form-item {
  margin: 0 0 8px !important;
}

.ant-modal-body {
  padding: 14px !important;
}
