.personal-information {
    .ant-image-mask {
        border-radius: 50%;
    }

    .personal-information,.billing-information,.contact-information{
        .ant-form-item {
            .ant-col {
                text-align: left;
                width: 180px;
            }
        }
    }
}