.icon-container {
  cursor: pointer;
  padding: 9px 9px;
}

.hover-avatar {
  cursor: pointer;
}

.format-button {
  border: unset;
}

.format-a {
  color: rgba(0, 0, 0, 0.5);
}

.format-row-ant {
  height: 1.5rem;
}

.icon-color {
  color: rgb(24, 144, 255);
}

.align-center {
  display: flex;
  align-items: center;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell .anticon {
  cursor: pointer;
  padding: 0 !important;
  color: red;
}

