.avatar-container {
  display: flex;
  align-items: center;
  img.avatar {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.3rem;
  }

  img.avatar-subcilinical {
    height: 2rem !important;
    width: 2rem !important;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: brightness(0.5);
      // transform: scale(1.5);
    }
  }
}

.icon-document-container {
  width: 140px;
}
