.product {
  padding: 3rem 0 !important;
  .item {
    flex-basis: calc((100% - 10rem) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem !important;
    margin-bottom: 2rem !important;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
  }

  .aspect-ratio-box {
    position: relative;
    width: 100%;
    height: 0 !important;
    padding-bottom: calc(9 / 16 * 100%) !important;
  }

  .aspect-ratio-box__in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title {
    margin: 10px;
    flex-grow: 1;
    color: #fff;
    font-weight: bold;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
  }


  .episode-status {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 7px 18px !important;
    margin: 10px !important;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
      inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
    -webkit-backdrop-filter: blur(74px);
    backdrop-filter: blur(74px);
  }

  .rating {
    position: absolute;
    left: 0;
    color: #fff;
    padding: 7px 18px !important;
    margin: 10px !important;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
      inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
    -webkit-backdrop-filter: blur(74px);
    backdrop-filter: blur(74px);
  }

  .icon-play {
    position: absolute;
    color: #fff;
    padding: 7px 18px !important;
    margin: 75px !important;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
      inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
    -webkit-backdrop-filter: blur(74px);
    backdrop-filter: blur(74px);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .item .aspect-ratio-box__in {
    transition: filter 1s;
  }

  .item:hover .aspect-ratio-box__in {
    filter: brightness(50%);
  }

  .item .icon-play {
    visibility: hidden;
    transition: visibility 0.5s;
  }

  .item:hover .icon-play {
    visibility: visible;
  }

  .item:before {
    position: absolute;
    font-size: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    color: white;
    opacity: 0;
    transition: opacity 1s;
  }

  .item:hover:before {
    opacity: 1;
  }
}
