ul{
    margin-bottom: 0;
}

.ant-tabs-nav{
    margin: 0 !important;
}

.schedule-detail{
    .ant-card{
        height: 100%;
        &-head{
            min-height: 30px;
            &-title{
                padding: 0px;
            }
        }
        &-body{
            padding: 8px;
        }
    }
}

