html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
}

ul {
  list-style: none;
}

.ql-editor {
  min-height: 200px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}

.notification-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info-group {
  display: flex;
  margin-left: 2rem;

  &-title {
    flex-basis: 40%;
    font-weight: bold;
  }

  &-content {
    flex-basis: 60%;
  }
}

.info-group-profile {
  display: flex;
  // margin-left: 2rem;

  &-title {
    flex-basis: 40%;
    font-weight: bold;
  }

  &-content {
    flex-basis: 60%;
  }
}

.container_primary {
  margin: 0 auto;
  padding: 0 5rem;
  // height: 100vh;

  .layout {
    margin-top: 2rem;
    background: #0f1416;
    border-radius: 1rem;

    .home {
      @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Comfortaa", cursive;
      }

      section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #262626;
        overflow: hidden;
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.28) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(30px);
        border-radius: 20px;
        width: min(95%, 100%);
        box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
          0 1px 0 0 rgba(255, 255, 255, 0.66) inset,
          0 4px 16px rgba(0, 0, 0, 0.12);
        z-index: 10;
        margin-top: 3rem;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        padding: 0 35px;
        text-align: justify;
      }

      .info p {
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.5;
      }

      .movie-night {
        background: linear-gradient(
          225deg,
          #ff3cac 0%,
          #784ba0 50%,
          #2b86c5 100%
        );
      }

      .btn {
        display: block;
        padding: 10px 40px;
        margin: 10px auto;
        font-size: 1.1rem;
        font-weight: 700;
        border-radius: 4px;
        border: none;
        outline: none;
        text-decoration: none;
        color: #784ba0;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
      }

      .btn:hover,
      .btn:focus,
      .btn:active,
      .btn:visited {
        transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
        animation: gelatine 0.5s 1;
      }

      @keyframes gelatine {
        0%,
        100% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(0.9, 1.1);
        }
        50% {
          transform: scale(1.1, 0.9);
        }
        75% {
          transform: scale(0.95, 1.05);
        }
      }

      /* SWIPER */

      .swiper {
        width: 95%;
        height: 350px;
        padding: 3rem 0;
      }

      .swiper-slide {
        position: relative;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        cursor: pointer;
        transition: filter 0.5s;
      }

      .swiper-slide:hover {
        filter: brightness(80%);
      }

      .icon-play-swiper {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% + 30px);
        visibility: hidden;
        transition: visibility 0.5s;
      }

      .swiper-slide:hover .icon-play-swiper {
        visibility: visible;
      }

      .swiper-slide span {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        padding: 7px 18px;
        margin: 10px;
        border-radius: 20px;
        letter-spacing: 2px;
        font-size: 0.8rem;
        font-weight: 700;
        font-family: inherit;
        background: rgba(255, 255, 255, 0.095);
      }

      .swiper-slide h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 0 0 20px 20px;
      }

      .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background-color: #ff3cac;
        background-image: linear-gradient(
          225deg,
          #ff3cac 0%,
          #784ba0 50%,
          #2b86c5 100%
        );
        animation: animate 25s linear infinite;
        bottom: -150px;
      }

      .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
      }

      .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
      }

      .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
      }

      .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
      }

      .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
      }

      .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
      }

      .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
      }

      .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
      }

      .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
      }

      .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
      }

      @keyframes animate {
        0% {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
        }

        100% {
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
        }
      }

      /*
    @media (max-width: 750px) {
      .content {
         flex-direction: column-reverse;
      }
      
      .btn {
        margin: 10px auto 40px;
      }
    }
    */
    }
  }
}

.admin {
  .ant-layout-header {
    padding: 0 10rem;
    background: #0f1416;

    .trigger {
      padding: 10px 24px;
      font-size: 14px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding-right: 20px;
      height: 100%;

      &-item {
        padding: 0.25rem;
        cursor: pointer;

        .ant-btn {
          border: none;

          .dot {
            position: absolute;
            top: 6px;
            right: 10px;
          }
        }

        .avatar-container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .avatar {
            vertical-align: middle;
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            &:hover {
              filter: brightness(0.5);
            }
          }

          span {
            padding-left: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .ant-layout-content {
    background: #263238;
  }

  .site-layout .site-layout-background {
    display: flex;
    justify-content: space-between;
    background: white;
  }

  .logo {
    height: 70%;
    // background: rgba(255, 255, 255, 0.2);
    // border-radius: 6px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 1rem;

    .flex-fill {
      flex: 1;
    }
  }

  .row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
  }

  .row-dragging td {
    padding: 16px;
  }

  .row-dragging .drag-visible {
    visibility: visible;
  }
}

.btn-success {
  color: #ffffff;
  border-color: #198754;
  background: #198754;
}

.btn-success:hover {
  background-color: #198754;
  opacity: 0.8;
  border: 1px solid #198754;
}

.btn-info {
  color: #ffffff;
  border-color: #0dcaf0;
  background: #0dcaf0;
}

.btn-info:hover {
  background-color: #0dcaf0;
  opacity: 0.8;
  border: 1px solid #0dcaf0;
}

.icon-header {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.modal-scroll {
  // height: 100vh;
  max-height: 99vh;
  overflow: auto;
}

// .scroll-checkbox {
//   height: 210px;
//   overflow: auto;
// }

.scroll-checkbox {
  max-height: 250px;
  overflow-y: scroll;
}

::-webkit-scrollbar-corner {
  background: #f6f6f6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 4px;
  border: 2px solid #f6f6f6;
}

.list-images {
  img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      filter: brightness(0.5);
    }
  }
}

.item-avatar-profile {
  cursor: pointer;
  // overflow: hidden;
  img {
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    filter: brightness(0.5);
  }

  .item-text-profile:hover {
    cursor: pointer;
    color: rgb(24, 144, 255);
  }
}

.item-text-profile:hover {
  cursor: pointer;
  color: rgb(24, 144, 255);
}

.avatar-subcilinical {
  height: 2rem !important;
  width: 2rem !important;
}
