@include font-face("IBMPlexSans-Italic", "fonts/IBMPlexSans-Italic");
@include font-face("IBMPlexSans-Regular", "fonts/IBMPlexSans-Regular");
@include font-face("IBMPlexSans-Bold", "fonts/IBMPlexSans-Bold");
@include font-face("IBMPlexSans-Medium", "fonts/IBMPlexSans-Medium");
@include font-face("IBMPlexSans-SemiBold", "fonts/IBMPlexSans-SemiBold");
:root {
    --c-text-sm: 12px;
    --c-text-sm-plus: 13px;
    --c-text-sm-plus2: 14px;
    --c-text-base: 15px;
    --c-text-md: 17px;
    --c-text-md-plus: 20px;
    --c-text-lg: 25px;
    --c-text-lg-plus: 30px;
    --c-text-xl: 35px;
    --c-text-2xl: 40px;
    --c-text-3xl: 50px;
    @include maxWidth(1919){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-sm-plus2: 14px;
        --c-text-base: 15px;
        --c-text-md: 17px;
        --c-text-md-plus: 20px;
        --c-text-lg: 25px;
        --c-text-lg-plus: 30px;
        --c-text-xl: 35px;
        --c-text-2xl: 40px;
        --c-text-3xl: 50px;
    }
    @include maxWidth(1440){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 15px;
        --c-text-md: 17px;
        --c-text-md-plus: 20px;
        --c-text-lg: 25px;
        --c-text-lg-plus: 30px;
        --c-text-xl: 35px;
        --c-text-2xl: 40px;
        --c-text-3xl: 50px;
    }
    @include maxWidth(1366){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 14px;
        --c-text-md: 17px;
        --c-text-md-plus: 20px;
        --c-text-lg: 25px;
        --c-text-lg-plus: 30px;
        --c-text-xl: 35px;
        --c-text-2xl: 40px;
        --c-text-3xl: 50px;
    }
    @include maxWidth(1280){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 13px;
        --c-text-md: 15px;
        --c-text-md-plus: 18px;
        --c-text-lg: 22px;
        --c-text-lg-plus: 25px;
        --c-text-xl: 30px;
        --c-text-2xl: 35px;
        --c-text-3xl: 40px;
    }
    @include maxWidth(1024){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 13px;
        --c-text-md: 14px;
        --c-text-md-plus: 16px;
        --c-text-lg: 20px;
        --c-text-lg-plus: 22px;
        --c-text-xl: 25px;
        --c-text-2xl: 30px;
        --c-text-3xl: 35px;
    }
    @include maxWidth(768){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 13px;
        --c-text-md: 14px;
        --c-text-md-plus: 16px;
        --c-text-lg: 20px;
        --c-text-lg-plus: 22px;
        --c-text-xl: 25px;
        --c-text-2xl: 30px;
        --c-text-3xl: 35px;
    }
    @include maxWidth(480){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 13px;
        --c-text-md: 14px;
        --c-text-md-plus: 16px;
        --c-text-lg: 20px;
        --c-text-lg-plus: 22px;
        --c-text-xl: 25px;
        --c-text-2xl: 30px;
        --c-text-3xl: 35px;
    }
    @include maxWidth(420){
        --c-text-sm: 12px;
        --c-text-sm-plus: 13px;
        --c-text-base: 13px;
        --c-text-md: 14px;
        --c-text-md-plus: 16px;
        --c-text-lg: 17px;
        --c-text-lg-plus: 20px;
        --c-text-xl: 22px;
        --c-text-2xl: 25px;
        --c-text-3xl: 30px;
    }
}
.c-text-sm {
    font-size: var(--c-text-sm);
    line-height: 1.3;
}
.c-text-sm-plus {
    font-size: var(--c-text-sm-plus);
    line-height: 1.3;
}
.c-text-sm-plus2 {
    font-size: var(--c-text-sm-plus2);
    line-height: 1.3;
}
.c-text-base {
    font-size: var(--c-text-base);
    line-height: 1.3;
}

.c-text-md {
    font-size: var(--c-text-md);
    line-height: 1.3;
}
.c-text-md-plus {
    font-size: var(--c-text-md-plus);
    line-height: 1.3;
}

.c-text-lg {
    font-size: var(--c-text-lg);
    line-height: 1.3;
}
.c-text-lg-plus {
    font-size: var(--c-text-lg-plus);
    line-height: 1.3;
}
.c-text-xl {
    font-size: var(--c-text-xl);
    line-height: 1.3;
}
.c-text-2xl {
    font-size: var(--c-text-2xl);
    line-height: 1.3;
}
.c-text-3xl {
    font-size: var(--c-text-3xl);
    line-height: 1.3;
}
