$fontItalic: 'IBMPlexSans-Italic';
$fontRegular: 'IBMPlexSans-Regular';
$fontBold: 'IBMPlexSans-Bold';
$fontMedium: 'IBMPlexSans-Medium';
$fontSemiBold: 'IBMPlexSans-SemiBold';

$colorWhtie: #fff;
$colorSpecialWhtie: #EFFAFF;
$colorWhtieF5: #f5f5f5;
$colorPrimary: #45AFDD;
$colorPlaceholder: #9597B8;
$colorTextPrimary: #0D044D;
$colorDanger: #FF0000;