.statistical {
  background: #cfe6fb;

  h1 {
    color: #0d044d;
    text-align: center;
  }

  .rangerpicker {
    display: flex;
    justify-content: center;
  }

  .list-statistical {
    .ant-list-split .ant-list-item {
      .ant-list-item-meta {
        .ant-list-item-meta-avatar {
          // margin-left: 10px;
        }

        .ant-list-item-meta-title {
          color: #0d044d;
        }

        .ant-list-item-meta-description {
          color: #45afdd;
        }
      }
    }
  }
}

.ant-picker-content th:nth-child(5n + 6),
.ant-picker-content th:nth-child(5n + 7) {
  color: red !important;
}

.profile {
  padding-top: 3rem;
}

.bg-profile {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  // &:hover {
  //   // background-color: #ff6666;
  //   opacity: 0.5;
  // }
}

.container_8 {
  display: flex;
  flex-wrap: wrap;

  .item {
    background-color: #ed9200;
    padding: 20px;
    margin: 10px;
  }
}
